<!DOCTYPE html>
<html lang="ko">
  <head>
    {% include "header.html" %}
    <link
      rel="stylesheet"
      href="{{url_for('static', path='/css/interface.general.css')}}"
    />
    <title>설정</title>
  </head>
  <style>
    .container {
      margin-top: 32px;
      display: flex;
      justify-content: center;
      gap: 5vw;
    }

    .container > .container-section {
      width: 500px;
    }

    .profile-area {
      margin-top: 20px;
      padding: 20px 30px;
      border-radius: 10px;
      background-color: #fff;
    }

    .content-division {
      display: flex;
      flex-grow: 1;
      align-items: center;
    }
  </style>
  <body>
    <div id="container">
      {% include "jumbotron.html" %}
      <div id="main-container">
        <!-- Navbar -->
        {% include "navbar.html" %}
        <div class="container">
          <div id="user-profile-section" class="container-section">
            <!-- username & etc.  -->
            <div id="usernameEtc-area" class="profile-area">
              <div class="content-division">
                <div id="user-icon-box">
                  <img id="img-user-icon" alt="아이콘" />
                  <div id="change-user-icon">
                    <i class="bi bi-camera"></i>
                  </div>
                </div>
              </div>
              <div class="content-division">
                <span id="username-txt" class="me-auto">chunzhi23</span>
                <button id="edit-usernameEtc-btn" class="edit-this-area">
                  <i class="bi bi-pencil"></i>수정
                </button>
              </div>
              <div class="content-division">
                <div id="user-birth-box">
                  <i class="bi bi-gift"></i> 2005. 7. 15.
                </div>
                <div id="user-gender-box">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-gender-ambiguous"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M11.5 1a.5.5 0 0 1 0-1h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V1.707l-3.45 3.45A4 4 0 0 1 8.5 10.97V13H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V14H6a.5.5 0 0 1 0-1h1.5v-2.03a4 4 0 1 1 3.471-6.648L14.293 1zm-.997 4.346a3 3 0 1 0-5.006 3.309 3 3 0 0 0 5.006-3.31z"
                    />
                  </svg>
                  남
                </div>
              </div>
            </div>

            <!-- email  -->
            <div id="email-area" class="profile-area">
              <div class="title-division">
                <span class="division-title-text">이메일</span>
              </div>
              <div class="content-division">
                <span class="content-txt">ssomang@dimg.rerac.dev</span>
                <button id="edit-usernameEtc-btn" class="edit-this-area">
                  <i class="bi bi-pencil"></i>수정
                </button>
              </div>
            </div>

            <!-- password -->
            <div id="pw-area" class="profile-area">
              <div class="title-division">
                <span class="division-title-text">비밀번호</span>
              </div>
              <div class="content-division">
                <span class="content-txt">****************</span>
                <button id="edit-usernameEtc-btn" class="edit-this-area">
                  <i class="bi bi-pencil"></i>수정
                </button>
              </div>
            </div>

            <!-- Google connection -->
            <div id="google-conn-area" class="profile-area">
              <div class="title-division">
                <span class="division-title-text">
                  <i class="bi bi-google"></i>
                  디미고 구글 계정
                  <span class="conn-status"></span>
                </span>
              </div>
              <div class="content-division">
                <span class="content-txt">chunzhi23@dimigo.hs.kr</span>
              </div>
              <div class="content-division">
                <button id="edit-usernameEtc-btn" class="edit-this-area">
                  <i class="bi bi-pencil"></i>수정
                </button>
              </div>
            </div>

            <!-- Microsoft connection -->
            <div id="microsoft-conn-area" class="profile-area">
              <div class="title-division">
                <span class="division-title-text">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-microsoft"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M7.462 0H0v7.19h7.462zM16 0H8.538v7.19H16zM7.462 8.211H0V16h7.462zm8.538 0H8.538V16H16z"
                    />
                  </svg>
                  디미고 마이크로소프트 계정
                  <span class="conn-status"></span>
                </span>
              </div>
              <div class="content-division">
                <span class="content-txt">chunzhi23@dimigoh.goe.go.kr</span>
              </div>
              <div class="content-division">
                <button id="edit-usernameEtc-btn" class="edit-this-area">
                  <i class="bi bi-pencil"></i>수정
                </button>
              </div>
            </div>
          </div>
          <div id="modify-section" class="container-section">
            <!-- Default -->
            <div id="default-editable-area" class=""></div>

            <!-- username & etc.  -->
            <div id="usernameEtc-editable-area" class="d-none"></div>

            <!-- email  -->
            <div id="email-editable-area" class="d-none"></div>

            <!-- password -->
            <div id="pw-editable-area" class="d-none"></div>

            <!-- Google connection -->
            <div id="google-editable-area" class="d-none"></div>

            <!-- Microsoft connection -->
            <div id="microsoft-editable-area" class="d-none"></div>
          </div>
        </div>
      </div>
    </div>
    <script
      type="text/javascript"
      src="{{ url_for('static', path='/js/bootstrap.bundle.min.js') }}"
    ></script>
    <script type="text/javascript">
      let disabled_circles = document.getElementsByClassName(
        "section-btn disabled"
      );
      // console.log(disabled_circles);
      for (let i = 0; i < disabled_circles.length; i++) {
        let circle = disabled_circles[i];
        circle.addEventListener("click", () => alert("준비 중인 기능입니다."));
      }
    </script>
  </body>
</html>
