<!DOCTYPE html>
<html lang="ko">
  <head>
    {% include "header.html" %}
    <link
      rel="stylesheet"
      href="{{url_for('static', path='/css/interface.general.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', path='/css/account.general.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', path='/css/account.index.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', path='/css/account.media.css')}}"
    />
    <title>설정</title>
  <body>
    <div id="container">
      {% include "jumbotron.html" %}
      <div id="main-container">
        <!-- Navbar -->
        {% include "navbar.html" %}
        <div class="container">
          <div id="user-profile-section" class="container-section">
            {% include "account/section-profile.html" %}
          <div id="modify-section" class="container-section focused">
            {% if False %}
            <!-- Default -->
            <div id="default-editable-area" class="profile-area">
              <span class="logo-txt-main">DIMG</span>
            </div>

            {% elif False %}
            <!-- username & etc.  -->
            {% include "account/modify-user.html" %}
            
            {% elif False %}
            <!-- email  -->
            {% include "account/modify-email.html" %}
            
            {% elif True %}
            <!-- password -->
            {% include "account/modify-pw.html" %}

            {% elif False %}
            <!-- Google -->
            {% include "account/modify-google.html" %}
            
            {% else %}
            <!-- Microsoft -->
            {% include "account/modify-microsoft.html" %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <script
      type="text/javascript"
      src="{{ url_for('static', path='/js/bootstrap.bundle.min.js') }}"
    ></script>
  </body>
</html>