<form
  action="/account/modify/profile"
  method="post"
  id="usernameEtc-editable-area"
  class="profile-area"
>
  {% if csrf_token %}
  <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
  {% endif %}
  <div class="modify-info">
    <div class="modify-info-title">
      <i
        class="bi bi-caret-left modify-go-previous"
        onclick="chkFormChanged()"
      ></i>
      프로필
    </div>
    <div class="modify-info-desc">
      <div>닉네임을 변경하고 선택적으로 항목을 추가 입력할 수 있습니다.</div>
      <div style="color: #dc3545">*는 필수사항입니다.</div>
    </div>
  </div>
  <div class="modify-form mt-4 mb-4">
    <div class="mb-3">
      <label for="user_formInputUsername" class="form-label">
        닉네임<span class="input-necessary">*</span>
      </label>
      <input
        type="text"
        class="form-control form-input"
        id="user_formInputUsername"
        value="{{ user.nickname or user.email.split('@')[0] or '' }}"
        name="nickname"
        autocomplete="false"
        placeholder="닉네임 입력"
        minlength="4"
        maxlength="16"
      />
      <div id="nickname-conditions" class="form-input-conditions">
        <ul>
          <li>4~16글자</li>
        </ul>
      </div>
    </div>
    <div class="mb-4">
      <label for="user_formInputBirth" class="form-label">생일</label>
      <input
        type="date"
        class="form-control form-input"
        id="user_formInputBirth"
        value="{{ user.birthday or '' }}"
        name="birthday"
      />
    </div>
    <div class="mb-auto">
      <label for="user_formInputGender" class="form-label">성별</label>
      <select
        id="user_formInputGender"
        class="form-select form-input"
        name="gender"
      >
        <option value="male">남성</option>
        <option value="female">여성</option>
        <option value="no">선택하지 않음</option>
      </select>
    </div>
  </div>
  <div class="d-flex gap-2 mt-auto">
    <button
      class="col btn btn-secondary form-input"
      type="button"
      onclick="location.href='/account'"
    >
      취소
    </button>
    <button type="submit" class="col btn btn-primary form-input">저장</button>
  </div>
</form>
<script type="text/javascript">
  (function () {
    const userGender = "{{ user.gender or 'no' }}";
    const selectElement = document.getElementById("user_formInputGender");

    for (var i = 0; i < selectElement.options.length; i++) {
      if (selectElement.options[i].value === userGender) {
        selectElement.options[i].selected = true;
        break;
      }
    }

    // 닉네임 입력 조건
    const thisForm = document.getElementById("usernameEtc-editable-area");
    const inputNickname = document.getElementById("user_formInputUsername");
    const conditionsNode = document.getElementById("nickname-conditions");

    function updateNicknameCondition() {
      const inputValue = inputNickname.value;
      const valueLength = inputValue.length;
      
      const restrictLength = conditionsNode.querySelector("ul li:nth-of-type(1)");

      if (valueLength >= 4 && valueLength <= 16) {
        restrictLength.className = "pass";
      } else {
        restrictLength.className = "restrict";
      }
    }

    document.addEventListener("DOMContentLoaded", function () {
      updateNicknameCondition();
    });

    inputNickname.addEventListener("input", updateNicknameCondition);

    thisForm.querySelector("button[type='submit']").addEventListener("click", function (e) {
      e.preventDefault();
      
      if (checkNoRestricted(conditionsNode)) {
        thisForm.submit();
      } else {
        alert("입력 조건을 모두 만족하는 닉네임을 입력해주세요.");
      }
    });
  })();
</script>
<script type="text/javascript">
  function chkFormChanged() {
    let is_changed = false;

    const username_form = document.getElementById(
      "user_formInputUsername"
    ).value;
    if (
      username_form != "{{ user.nickname or user.email.split('@')[0] or '' }}"
    )
      is_changed = true;

    const birth_form = document.getElementById("user_formInputBirth").value;
    if (birth_form != "{{ user.birthday or '' }}") is_changed = true;

    const gender_form = document.getElementById("user_formInputGender").value;
    if (gender_form != "{{ user.gender or 'no' }}") is_changed = true;

    if (is_changed) {
      const confirmation = confirm(
        "이 페이지를 나가시겠습니까? 변경 사항이 저장되지 않을 수 있습니다."
      );

      if (!confirmation) {
        // User chose to stay on the page
        return;
      }
    }
    // Continue with navigating to the previous page
    location.href = "/account";
  }
</script>