
<form action="/modify/profile" method="post" id="usernameEtc-editable-area" class="profile-area">
  {% if csrf_token %}
  <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
  {% endif %}
  <div class="modify-info">
    <div class="modify-info-title">
      <i
        class="bi bi-caret-left modify-go-previous"
        onclick="chkFormChanged(this)"
      ></i>
      프로필
    </div>
    <div class="modify-info-desc">
      <div>닉네임을 변경하고 선택적으로 항목을 추가 입력할 수 있습니다.</div>
      <div style="color: #dc3545">*는 필수사항입니다.</div>
    </div>
  </div>
  <div class="modify-form mt-4 mb-4">
    <div class="mb-3">
      <label for="user_formInputUsername" class="form-label"
        >닉네임<span class="input-necessary">*</span></label
      >
      <input
        type="text"
        class="form-control form-input"
        id="user_formInputUsername"
        value="{{ user.nickname or "" }}"
        name="nickname"
      />
      <div class="form-input-conditions" class="form-text">
        <ul>
          <li class="restrict">16글자 이하</li>
        </ul>
      </div>
    </div>
    <div class="mb-4">
      <label for="user_formInputBirth" class="form-label">생일</label>
      <input
        type="date"
        class="form-control form-input"
        id="user_formInputBirth"
        value="{{ user.birthday }}"
        name="birthday"
      />
    </div>
    <div class="mb-auto">
      <label for="user_formInputGender" class="form-label">성별</label>
      <select id="user_formInputGender" class="form-select form-input" name="gender">
        <option value="male">남성</option>
        <option value="female">여성</option>
        <option value="no">선택하지 않음</option>
      </select>
    </div>
  </div>
  <div class="d-flex gap-2 mt-auto">
    <button class="col btn btn-secondary form-input">취소</button>
    <button type="submit" class="col btn btn-primary form-input">저장</button>
  </div>
</form>
<script type="text/javascript">
  (function () {
    const userGender = "{{ user.gender }}";
    const selectElement = document.getElementById("user_formInputGender");

    for (var i = 0; i < selectElement.options.length; i++) {
      if (selectElement.options[i].value === userGender) {
        selectElement.options[i].selected = true;
        break;
      }
    }
  });


  const chkFormChanged = (node) => {
    let is_changed = false;

    const username_form = document.getElementById(
      "user_formInputUsername"
    ).value;
    if (username_form != "{{ user.nickname }}") is_changed = true;

    const birth_form = document.getElementById("user_formInputBirth").value;
    if (birth_form != "{{ user.birthday }}") is_changed = true;

    const gender_form = document.getElementById("user_formInputGender").value;
    if (gender_form != "{{ user.gender }}") is_changed = true;

    if (is_changed) {
      const confirmation = confirm(
        "이 페이지를 나가시겠습니까? 변경 사항이 저장되지 않을 수 있습니다."
      );

      if (!confirmation) {
        // User chose to stay on the page
        return;
      }
    }
    // Continue with navigating to the previous page
    location.href = "/account";
  };
</script>
