<!-- username & etc.  -->
<div id="usernameEtc-area" class="profile-area mb-4">
  <div class="content-division">
    <div id="user-icon-box">
      <i id="img-user-icon" class="bi bi-person"></i>
    </div>
  </div>
  <div class="content-division">
    {% if user.nickname %}
    <span id="username-txt" class="me-auto">{{user.nickname}}</span>
    {% else %}
    <span id="username-txt" class="me-auto">{{user.email.split("@")[0]}}</span>
    {% endif %}
    <button
      id="edit-usernameEtc-btn"
      class="edit-this-area"
      onclick="document.location.href='/account/modify/1'"
    >
      <i class="bi bi-pencil"></i>
      수정
    </button>
  </div>

  <div class="content-division">
    <div class="user-etc-box">
      {% if user.birthday %}
      <i class="bi bi-gift"></i> {{user.birthday}} {% else %}
      <i class="bi bi-gift"></i> 생일 정보 없음 {% endif %}
    </div>

    <div class="user-etc-box">
      <i class="bi bi-gender-ambiguous"></i>
      {% if user.gender %} {% if user.gender == 'male' %} 남성 {% elif
      user.gender == 'female' %} 여성 {% else %} 성별 지정 안됨 {% endif %} {%
      else %} 성별 지정 안됨 {% endif %}
    </div>
  </div>
</div>

<!-- email  -->
<div id="email-area" class="profile-area mb-4">
  <div class="title-division">
    <span class="division-title-text">이메일</span>
  </div>
  <div class="content-division">
    <span class="content-txt">{{user.email}}</span>
    <button
      id="edit-email-btn"
      class="edit-this-area"
      onclick="document.location.href='/account/modify/2'"
    >
      <i class="bi bi-pencil"></i>
      수정
    </button>
  </div>
</div>

<!-- password -->
<div id="pw-area" class="profile-area mb-4">
  <div class="title-division">
    <span class="division-title-text">비밀번호</span>
  </div>
  <div class="content-division">
    <span class="content-txt">****************</span>
    <button
      id="edit-password-btn"
      class="edit-this-area"
      onclick="document.location.href='/account/modify/3'"
    >
      <i class="bi bi-pencil"></i>
      수정
    </button>
  </div>
</div>

<!-- Google connection -->
<div id="google-conn-area" class="profile-area mb-4">
  <div class="title-division">
    <span class="division-title-text">
      <i class="bi bi-google"></i>
      디미고 구글 계정 {% if google_mail %}
      <div class="conn-status verified"></div>
      {% else %}
      <div class="conn-status unauthorized"></div>
      {% endif %}
    </span>
  </div>
  <div class="content-division">
    <span class="content-txt">{{google_mail or "연동 안됨"}}</span>
  </div>
  <div class="content-division conn-btn-here">
    <button
      id="edit-google-btn"
      class="edit-this-area"
      onclick="document.location.href='/account/oauth/c/google'"
    >
      {% if google_mail %}
      <i class="bi bi-pencil"></i>
      수정 {% else %}
      <i class="bi bi-plus"></i>
      연동 {% endif %}
    </button>
  </div>
</div>

<!-- Microsoft connection -->
<div id="microsoft-conn-area" class="profile-area mb-4">
  <div class="title-division">
    <span class="division-title-text">
      <i class="bi bi-microsoft"></i>
      디미고 Microsoft 계정 {% if microsoft_mail %}
      <div class="conn-status verified"></div>
      {% else %}
      <div class="conn-status unauthorized"></div>
      {% endif %}
    </span>
  </div>
  <div class="content-division">
    <span class="content-txt">{{microsoft_mail or "연동 안됨"}}</span>
  </div>
  <div class="content-division conn-btn-here">
    <button
      id="edit-microsoft-btn"
      class="edit-this-area"
      onclick="document.location.href='/account/oauth/c/microsoft'"
    >
      {% if microsoft_mail %}
      <i class="bi bi-pencil"></i>
      수정 {% else %}
      <i class="bi bi-plus"></i>
      연동 {% endif %}
    </button>
  </div>
</div>

<!-- 서비스 탈퇴 -->
<div
  id="service-getout-area"
  class="profile-area"
  onclick="document.location.href = '/account/cancel'"
>
  <div class="title-division">
    <span class="division-title-text">
      <i class="bi bi-trash3"></i>
      서비스 탈퇴
    </span>
  </div>
</div>
