<!DOCTYPE html>
<html lang="ko">
  <head>
    {% include "header.html" %}
    <link
      rel="stylesheet"
      href="{{url_for('static', path='/css/general/styles.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', path='/css/interface.general.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', path='/css/root.general.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', path='/css/list.module.css')}}"
    />
    <title>서비스</title>
  </head>
  <style>
    .container {
      padding-top: 10px;
    }
  </style>
  <body>
    <div id="container">
      {% include "jumbotron.html" %}
      <div id="main-container">
        {% include "navbar.html" %}
        <div class="container">
          <!-- 서비스 관리 상단 바 -->
          <div id="manage-service" class="container-item">
            <div class="item-select">
              <input
                class="form-check-input"
                type="checkbox"
                id="checkboxSelectAll"
                value=""
                aria-label="..."
              />
            </div>
            <div class="dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="filterSortDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >필터</a
              >
              <ul class="dropdown-menu" aria-labelledby="filterSortDropdown">
                <li class="dropdown-menu-tit">필터</li>
                <li>
                  <a
                    class="dropdown-item filter-option active"
                    data-option="all"
                    href="#"
                    >전체</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item filter-option"
                    data-option="official"
                    href="#"
                    >공식 서비스</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item filter-option"
                    data-option="unofficial"
                    href="#"
                    >비공식 서비스</a
                  >
                </li>

                <div class="dropdown-divider"></div>

                <li class="dropdown-menu-tit">정렬</li>
                <li>
                  <a
                    class="dropdown-item sort-option"
                    data-option="join_date_asc"
                    href="#"
                    >가입일 오름차순</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item sort-option active"
                    data-option="join_date_desc"
                    href="#"
                    >가입일 내림차순</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item sort-option"
                    data-option="name_asc"
                    href="#"
                    >이름 오름차순</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item sort-option"
                    data-option="name_desc"
                    href="#"
                    >이름 내림차순</a
                  >
                </li>
              </ul>
            </div>
            <div id="cnt-item-filtered" class="item-cnt me-auto"></div>
            <div class="item-search col-md-5">
              <i class="bi bi-search"></i>
              <input
                id="search-input"
                class="form-control no-border"
                type="text"
                placeholder="검색"
              />
            </div>
          </div>

          <!-- 서비스 리스트 -->
          <div id="services-container"></div>
        </div>
      </div>
    </div>
    {% include "footer.html" %}
    <script
      id="list2DOM"
      type="text/javascript"
      src="{{ url_for('static', path='/js/list.module.generate.js') }}"
      jinja-location="{{ url_for('static', path='/') }}"
    ></script>
  </body>
</html>
