body {
  font-family: Pretendard;
  margin: 0;
  height: 100vh;
}

.hover-shadow:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
}

/* Sidebar */
#side-viewbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 100vh;
  background-color: #54aeb6;
}

#viewbar-logo > span {
  display: block;
  text-align: center;
}

#logo-txt-main {
  color: #fff;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -9.6px;
}

#logo-txt-sub {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

/* Navbar */
#page-title {
  color: #000;
  font-family: Pretendard;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.dropdown-menu {
  left: unset !important;
  right: 10px;
}
