body {
  background-color: #ddeaeb;
}

#container {
  display: flex;
  flex-direction: row;
}

#main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Sidebar */
#side-viewbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #54aeb6;
}

#viewbar-logo > span {
  display: block;
  text-align: center;
}

#logo-txt-main {
  color: #fff;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -9.6px;
}

#logo-txt-sub {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

/* Navbar */
#page-title {
  color: #000;
  font-family: Pretendard;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.dropdown-menu {
  left: unset !important;
  right: 10px;
}

.form-input {
  padding: 8px 14px;
  line-height: 28px;
  font-size: 16px;
}

@media (max-width: 767.98px) {
  /* Mobile Styles */
  #container {
    display: block;
  }

  #main-container > .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}