body {
  background-color: #ddeaeb;
  overflow: hidden;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 10;
}

#container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
}

#main-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex: 1;
}

/* Sidebar */
#side-viewbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #54aeb6;
}

#viewbar-logo > span {
  display: block;
  text-align: center;
}

#logo-txt-main {
  color: #fff;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -9.6px;
}

#logo-txt-sub {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

/* Navbar */
#page-title {
  color: #000;
  font-family: Pretendard;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.form-input {
  padding: 8px 14px;
  line-height: 28px;
  font-size: 16px;
}

/* form input 필수 입력 조건 */
.form-input-conditions li.pass {
  color: #198754;
}

.form-input-conditions li.pass::before {
  content: "\f26e";
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  margin-right: 5px;
}

.form-input-conditions li.restrict {
  color: #dc3545;
}

.form-input-conditions li.restrict::before {
  content: "\f62a";
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  margin-right: 5px;
}

@media (max-width: 768px) {
  /* Mobile View */
  #container {
    display: block;
  }

  #main-container > .container {
    padding-left: 30px;
    padding-right: 30px;
  }
  
  #side-viewbar {
    display: none;
  }
}

@media (min-width: 768px) {
  /* Desktop and Tablet View */
}