body {
  background-color: #ddeaeb;
}

#container {
  display: flex;
  flex-direction: row;
}

#main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#main-container > .container {
  padding: 24px 48px 0 48px;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
