/* General */
.form-control.no-border {
  border: 0;
  box-shadow: none;
}

/* Individual */
#loading-cover {
  text-align: center;
}

.container-item {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  background-color: #fff;
}

.dropdown-toggle,
.dropdown-menu-tit {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}

.dropdown-menu-tit {
  padding: var(--bs-dropdown-item-padding-y)
    var(--bs-dropdown-item-padding-x);
}

.item-select {
  padding: 5px;
}

.item-cnt {
  white-space: nowrap;
}

.item-cnt > span {
  color: #0d6efd;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.item-search {
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  display: flex;
  align-items: center;
}

.item-search > i {
  padding: .375rem .75rem;
}

/* 서비스 리스트 item */
.item-ico {
  margin-right: 10px;
  border: 1px solid #888;
  border-radius: 5px;
  overflow: hidden;
}

.item-info {
  flex: 1;
  overflow: hidden;
}

.item-info-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.item-info-tit {
  color: #000;
  font-size: 28px;
  font-weight: 500;
  line-height: normal;
}

.item-info-desc {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.item-info-desc address {
  margin: 0;
  color: #888;
}

.item-tag {
  padding: 0 8px;
  border-radius: 10px;
  height: 20px;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.6px;
}

.item-tag.enrol {background-color: #c683d7;}
.item-tag.enrol::after {content: "재학";}
.item-tag.grad {background-color: #ed9ed6;}
.item-tag.grad::after {content: "졸업";}
.item-tag.guest {background-color: #ffc7c7;}
.item-tag.guest::after {content: "일반";}
.item-tag.official {background-color: #54AEB6;}
.item-tag.official::after {content: "DIMG";}

.item-menu {
  padding: 0 15px;
  border-left: 1px solid #eee;
  min-width: 140px;
  display: flex;
  flex-direction: column;
}

.joined-label {
  color: #888;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 768px) {
  /* Mobile Styles */
  .item-ico {
    display: none;
  }
}

@media (min-width: 768px) {
  /* Desktop and Tablet View */
  .item-ico {
    display: block;
  }
}