<!DOCTYPE html>
<html lang="ko">
  <head>
    {% include "header.html" %}
    <link rel="stylesheet" href="{{url_for('static', path='/css/general/styles.css')}}" />
    <link
      rel="stylesheet"
      href="{{url_for('static', path='/css/dev.general.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', path='/css/dev.media.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', path='/css/dev.dashboard.index.css')}}"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>관리 · 대시보드</title>
  </head>
  <body>
    <!-- Sidebar -->
    {% include "admin/sidebar.html" %}

    <!-- Content -->
    <div id="container">
      <div id="page-info">
        <div id="page-name">대시보드</div>
        <div id="page-desc">
          DIMG-SSO에서 수집하는 정보를 한눈에 확인합니다.
        </div>
      </div>
      <div id="main-container">
        <div id="statistics-overall" class="section-item">
          <div id="overall-header-text">종합</div>
          <div class="division-line"></div>
          <div id="overall-container">
            <!-- 유저 통계 -->
            <div class="info-item">
              <div class="info-main mb-1">
                <!-- 사용자 수-->
                <div id="user-info" class="info-block">
                  <div class="info-icon"><i class="bi bi-people"></i></div>
                  <div class="info-desc">
                    <div class="info-desc-title">사용자 수</div>
                    <div class="info-desc-number">
                      <span id="user-total" class="num-total"></span>
                      <span id="user-change" class="num-change"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="info-detail">
                <!-- 재학생 -->
                <div id="enrolled-info" class="info-block">
                  <div class="info-icon"><i class="bi bi-journals"></i></div>
                  <div class="info-desc">
                    <div class="info-desc-title">재학생</div>
                    <div class="info-desc-number">
                      <span id="enrol-total" class="num-total"></span>
                      <span id="enrol-change" class="num-change"></span>
                    </div>
                  </div>
                </div>

                <div class="division-dash"></div>

                <!-- 졸업생 -->
                <div id="graduated-info" class="info-block">
                  <div class="info-icon"><i class="bi bi-mortarboard"></i></div>
                  <div class="info-desc">
                    <div class="info-desc-title">졸업생</div>
                    <div class="info-desc-number">
                      <span id="grad-total" class="num-total"></span>
                      <span id="grad-change" class="num-change"></span>
                    </div>
                  </div>
                </div>

                <div class="division-dash"></div>

                <!-- 일반 사용자 -->
                <div id="guest-info" class="info-block">
                  <div class="info-icon"><i class="bi bi-person"></i></div>
                  <div class="info-desc">
                    <div class="info-desc-title">일반</div>
                    <div class="info-desc-number">
                      <span id="guest-total" class="num-total"></span>
                      <span id="guest-change" class="num-change"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- 서비스 통계 -->
            <div class="info-item">
              <div class="info-main mb-1">
                <!-- 서비스 수-->
                <div id="service-info" class="info-block">
                  <div class="info-icon">
                    <i class="bi bi-file-earmark"></i>
                  </div>
                  <div class="info-desc">
                    <div class="info-desc-title">서비스 수</div>
                    <div class="info-desc-number">
                      <span id="service-total" class="num-total"></span>
                      <span id="service-change" class="num-change"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="info-detail">
                <!-- 공식 -->
                <div id="official-info" class="info-block">
                  <div class="info-icon"><i class="bi bi-patch-check"></i></div>
                  <div class="info-desc">
                    <div class="info-desc-title">공식</div>
                    <div class="info-desc-number">
                      <span id="offi-total" class="num-total"></span>
                      <span id="offi-change" class="num-change"></span>
                    </div>
                  </div>
                </div>

                <div class="division-dash"></div>

                <!-- 비공식 -->
                <div id="informal-info" class="info-block">
                  <div class="info-icon"><i class="bi bi-patch-minus"></i></div>
                  <div class="info-desc">
                    <div class="info-desc-title">비공식</div>
                    <div class="info-desc-number">
                      <span id="unoffi-total" class="num-total"></span>
                      <span id="unoffi-change" class="num-change"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="statistics-detail" class="section-item">
          <div id="detail-header-text">세부사항</div>
          <div class="division-line"></div>
          <div id="detail-container">
            <!-- 사용자 수 현황 -->
            <div class="canvas-container">
              <div style="height: 320px">
                <canvas id="user-stackedBar"></canvas>
              </div>

              <!-- 일월년 선택 radio -->
              <div class="btn-group mt-2 ms-auto" role="group">
                <input
                  type="radio"
                  class="btn-check"
                  name="dmy-user"
                  id="btnUser-day"
                  value="day"
                  autocomplete="off"
                  checked
                />
                <label class="btn btn-outline-primary" for="btnUser-day"
                  >일</label
                >

                <input
                  type="radio"
                  class="btn-check"
                  name="dmy-user"
                  id="btnUser-month"
                  value="month"
                  autocomplete="off"
                />
                <label class="btn btn-outline-primary" for="btnUser-month"
                  >월</label
                >

                <input
                  type="radio"
                  class="btn-check"
                  name="dmy-user"
                  id="btnUser-year"
                  value="year"
                  autocomplete="off"
                />
                <label class="btn btn-outline-primary" for="btnUser-year"
                  >년</label
                >
              </div>
            </div>

            <!-- 로그인 수 현황 -->
            <div class="canvas-container">
              <div style="height: 320px">
                <canvas id="login-stackedBar"></canvas>
              </div>

              <!-- 일월년 선택 radio -->
              <div class="btn-group mt-2 ms-auto" role="group">
                <input
                  type="radio"
                  class="btn-check"
                  name="dmy-login"
                  id="btnLogin-day"
                  value="day"
                  autocomplete="off"
                  checked
                />
                <label class="btn btn-outline-primary" for="btnLogin-day"
                  >일</label
                >

                <input
                  type="radio"
                  class="btn-check"
                  name="dmy-login"
                  id="btnLogin-month"
                  value="month"
                  autocomplete="off"
                />
                <label class="btn btn-outline-primary" for="btnLogin-month"
                  >월</label
                >

                <input
                  type="radio"
                  class="btn-check"
                  name="dmy-login"
                  id="btnLogin-year"
                  value="year"
                  autocomplete="off"
                />
                <label class="btn btn-outline-primary" for="btnLogin-year"
                  >년</label
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include "footer.html" %}
    <script
      type="text/javascript"
      src="{{ url_for('static', path='js/dashboard.chart.init.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', path='js/dashboard.statistics.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', path='js/dashboard.overall.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', path='js/dashboard.chart.preprocess.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', path='js/dashboard.chart.custom.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', path='js/dashboard.chart.update.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', path='js/dashboard.main.js') }}"
    ></script>
  </body>
</html>
