<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', path='/css/general/bootstrap.min.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', path='/css/general/styles.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', path='/fonts/Pretendard/pretendard.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', path='/css/dev.index.css')}}"
    />
    <title>DIMG-SSO 관리</title>
  </head>
  <body>
    <div id="container">
      <div id="service-info">
        <div id="service-name">DIMG-SSO</div>
        <div id="service-type">Developer</div>
      </div>
      <div id="main-container">
        <!-- 대시보드 버튼 -->
        <div class="section-btn">
          <div class="big-circle rounded-circle border">
            <i class="bi bi-command"></i>
          </div>
          <div class="label">대시보드</div>
        </div>

        <!-- 서비스 추가 버튼 -->
        <div class="section-btn">
          <div class="big-circle rounded-circle border">
            <i class="bi bi-plus"></i>
          </div>
          <div class="label">서비스 추가</div>
        </div>

        <!-- 유저 버튼 -->
        <div class="section-btn">
          <div class="big-circle rounded-circle border">
            <i class="bi bi-people"></i>
          </div>
          <div class="label">유저</div>
        </div>

        <!-- 공지사항 버튼-->
        <div class="section-btn">
          <div class="big-circle rounded-circle border disabled">
            <i class="bi bi-bell"></i>
          </div>
          <div class="label">공지사항</div>
        </div>

        <!-- 광고 버튼 -->
        <div class="section-btn">
          <div class="big-circle rounded-circle border disabled">
            <i class="bi bi-badge-ad"></i>
          </div>
          <div class="label">광고</div>
        </div>

        <!-- 질의응답 버튼 -->
        <div class="section-btn">
          <div class="big-circle rounded-circle border disabled">
            <i class="bi bi-question-circle"></i>
          </div>
          <div class="label">질의응답</div>
        </div>
      </div>
    </div>
    <script
      type="text/javascript"
      src="{{ url_for('static', path='/js/bootstrap.bundle.min.js') }}"
    ></script>
    <script type="text/javascript">
      let disabled_circles = document.getElementsByClassName(
        "big-circle disabled"
      );
      // console.log(disabled_circles);
      for (let i = 0; i < disabled_circles.length; i++) {
        let circle = disabled_circles[i];
        circle.addEventListener("click", () => alert("준비 중인 기능입니다."));
      }
    </script>
  </body>
</html>
