<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', path='/css/general/bootstrap.min.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', path='/css/general/styles.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', path='/fonts/Pretendard/pretendard.css')}}"
    />
    <title>DIMG-SSO 관리</title>
    <style>
      #container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      #service-info {
        text-align: center;
        margin-bottom: 20px;
      }

      #service-name {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 5px;
      }

      #service-type {
        font-size: 1rem;
        font-weight: lighter;
      }

      #main-container {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .big-circle {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: #ffffff;
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 1px solid #ced4da;
      }

      .big-circle:focus {
        outline: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      }

      .icon {
        font-size: 2rem;
        margin-top: 20px;
      }

      .label {
        text-align: center;
        margin-top: 10px;
      }
    </style>
  </head>
  <body>
    <div id="container">
      <div id="service-info">
        <div id="service-name">DIMG-SSO</div>
        <div id="service-type">Developer</div>
      </div>
      <div id="main-container">
        <!-- 대시보드 버튼 -->
        <div class="section-btn">
          <div class="big-circle rounded-circle border">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              fill="currentColor"
              class="bi bi-command"
              viewBox="0 0 16 16"
            >
              <path
                d="M3.5 2A1.5 1.5 0 0 1 5 3.5V5H3.5a1.5 1.5 0 1 1 0-3M6 5V3.5A2.5 2.5 0 1 0 3.5 6H5v4H3.5A2.5 2.5 0 1 0 6 12.5V11h4v1.5a2.5 2.5 0 1 0 2.5-2.5H11V6h1.5A2.5 2.5 0 1 0 10 3.5V5zm4 1v4H6V6zm1-1V3.5A1.5 1.5 0 1 1 12.5 5zm0 6h1.5a1.5 1.5 0 1 1-1.5 1.5zm-6 0v1.5A1.5 1.5 0 1 1 3.5 11z"
              />
            </svg>
          </div>
          <div class="label">대시보드</div>
        </div>

        <!-- 서비스 추가 버튼 -->
        <div class="section-btn">
          <div class="big-circle rounded-circle border">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              fill="currentColor"
              class="bi bi-plus"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"
              />
            </svg>
          </div>
          <div class="label">서비스 추가</div>
        </div>

        <!-- 유저 버튼 -->
        <div class="section-btn">
          <div class="big-circle rounded-circle border">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              fill="currentColor"
              class="bi bi-people"
              viewBox="0 0 16 16"
            >
              <path
                d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022ZM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4"
              />
            </svg>
          </div>
          <div class="label">유저</div>
        </div>

        <!-- 공지사항 버튼-->
        <div class="section-btn">
          <div class="big-circle rounded-circle border disabled">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              fill="currentColor"
              class="bi bi-bell"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2M8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6"
              />
            </svg>
          </div>
          <div class="label">공지사항</div>
        </div>

        <!-- 광고 버튼 -->
        <div class="section-btn">
          <div class="big-circle rounded-circle border disabled">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              fill="currentColor"
              class="bi bi-badge-ad"
              viewBox="0 0 16 16"
            >
              <path
                d="m3.7 11 .47-1.542h2.004L6.644 11h1.261L5.901 5.001H4.513L2.5 11zm1.503-4.852.734 2.426H4.416l.734-2.426zm4.759.128c-1.059 0-1.753.765-1.753 2.043v.695c0 1.279.685 2.043 1.74 2.043.677 0 1.222-.33 1.367-.804h.057V11h1.138V4.685h-1.16v2.36h-.053c-.18-.475-.68-.77-1.336-.77zm.387.923c.58 0 1.002.44 1.002 1.138v.602c0 .76-.396 1.2-.984 1.2-.598 0-.972-.449-.972-1.248v-.453c0-.795.37-1.24.954-1.24z"
              />
              <path
                d="M14 3a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zM2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2z"
              />
            </svg>
          </div>
          <div class="label">광고</div>
        </div>

        <!-- 질의응답 버튼 -->
        <div class="section-btn">
          <div class="big-circle rounded-circle border disabled">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              fill="currentColor"
              class="bi bi-question-circle"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
              />
              <path
                d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94"
              />
            </svg>
          </div>
          <div class="label">질의응답</div>
        </div>
      </div>
    </div>
    <script
      type="text/javascript"
      src="{{ url_for('static', path='/js/bootstrap.bundle.min.js') }}"
    ></script>
    <script type="text/javascript">
      let disabled_circles = document.getElementsByClassName(
        "big-circle disabled"
      );
      // console.log(disabled_circles);
      for (let i = 0; i < disabled_circles.length; i++) {
        let circle = disabled_circles[i];
        circle.addEventListener("click", () => alert("준비 중인 기능입니다."));
      }
    </script>
  </body>
</html>
