<!DOCTYPE html>
<html lang="ko">
  <head>
    {% include "header.html" %}
    <link
      rel="stylesheet"
      href="{{url_for('static', path='/css/dev.index.css')}}"
    />
    <title>DIMG-SSO 관리</title>
  </head>
  <body>
    <div id="container">
      <div id="page-info">
        <div id="page-name">DIMG-SSO</div>
        <div id="page-type">Manager Page</div>
      </div>
      <div id="main-container">
        <!-- 대시보드 버튼 -->
        <a class="section-btn" href="/manage/dashboard">
          <div class="big-circle">
            <i class="bi bi-command"></i>
          </div>
          <div class="label">대시보드</div>
        </a>

        <!-- 서비스 추가 버튼 -->
        <a class="section-btn" href="/manage/services">
          <div class="big-circle">
            <i class="bi bi-bag-dash"></i>
          </div>
          <div class="label">서비스</div>
        </a>

        <!-- 유저 버튼 -->
        <a class="section-btn" href="/manage/users">
          <div class="big-circle">
            <i class="bi bi-people"></i>
          </div>
          <div class="label">유저</div>
        </a>

        <!-- 공지사항 버튼-->
        <a class="section-btn disabled">
          <div class="big-circle">
            <i class="bi bi-bell"></i>
          </div>
          <div class="label">공지사항</div>
        </a>

        <!-- 광고 버튼 -->
        <a class="section-btn disabled">
          <div class="big-circle">
            <i class="bi bi-badge-ad"></i>
          </div>
          <div class="label">광고</div>
        </a>

        <!-- 질의응답 버튼 -->
        <a class="section-btn disabled">
          <div class="big-circle">
            <i class="bi bi-question-circle"></i>
          </div>
          <div class="label">요청사항</div>
        </a>
      </div>
    </div>
    {% include "footer.html" %}
    <script type="text/javascript">
      let disabled_circles = document.getElementsByClassName(
        "section-btn disabled"
      );
      // console.log(disabled_circles);
      for (let i = 0; i < disabled_circles.length; i++) {
        let circle = disabled_circles[i];
        circle.addEventListener("click", () => alert("준비 중인 기능입니다."));
      }

      
    </script>
  </body>
</html>
