<!DOCTYPE html>
<html lang="ko">
<head>
  {% include "header.html" %}
  <link
    rel="stylesheet"
    href="{{url_for('static', path='/css/dev.service.general.css')}}"
  />
  <link
    rel="stylesheet"
    href="{{url_for('static', path='/css/dev.media.css')}}"
  />
  <title>DIMGSSO - 관리 · 유저 관리</title>
</head>
<body>
  <!-- Sidebar -->
  {% include "admin/sidebar.html" %}

  <!-- Content -->
  <div id="container">
    <div id="page-info">
      <div id="page-name">유저 관리</div>
      <!-- <div id="page-desc">DIMG-SSO 이용자 계정을 관리합니다.</div> -->
    </div>
  </div>
  {% include "footer.html" %}
</body>
</html>