<!DOCTYPE html>
<html lang="ko">
  <head>
    {% include "header.html" %}
    <link
      rel="stylesheet"
      href="{{url_for('static', path='/css/interface.general.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', path='/css/root.general.css')}}"
    />
    <title>DIMGSSO - 오류</title>
  </head>
  <style>
    #main-container {
      justify-content: center;
      align-items: center;
    }

    .section {
      padding: 30px 40px;
      border-radius: 10px;
      background-color: #fff;
    }

    #page-info {
      margin-bottom: 20px;
      padding-bottom: 10px;
      width: 720px;
    }

    #page-name {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 5px;
    }

    #page-content {
      max-height: 720px;
      overflow-y: auto;
    }
  </style>
  <body>
    <div id="container">
      {% include "jumbotron.html" %}
      <div id="main-container">
        <div class="section">
          <div id="page-info">
            <div id="page-name">ERROR {{code}}</div>
            <div id="page-desc">{{error}}</div>
          </div>
          <div class="d-grid gap-2 d-md-block pt-3">
            <button class="btn btn-secondary col-2" type="button">
              돌아가기
            </button>
          </div>
        </div>
      </div>
    </div>
    {% include "footer.html" %}
    <script type="text/javascript">
      const button = document.querySelector("button");
      button.addEventListener("click", () => {
        location.href = "/";
      });
    </script>
  </body>
</html>
