<!DOCTYPE html>
<html lang="ko">
  <head>
    {% include "header.html" %}
    <link
      rel="stylesheet"
      href="{{url_for('static', path='/css/interface.general.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', path='/css/root.general.css')}}"
    />
    <title>로그인</title>
  </head>
  <style>
    .container {
      margin-top: 32px;
      align-items: center;
      display: flex;
      justify-content: center;
      flex-grow: 1;
    }

    #form-login {
      width: 460px;
    }
  </style>
  <body>
    <div id="container">
      {% include "jumbotron.html" %}
      <div id="main-container">
        {% include "navbar.html" %}
        <div class="container">
          <div id="form-login">
            {% if failed == 1 %}
            <!-- error messages -->
            <div class="alert alert-danger" role="alert">
              이메일이나 비밀번호가 일치하지 않습니다.
            </div>
            {% elif failed == 2 %}
            <div class="alert alert-danger" role="alert">
              CSRF 토큰이 일치하지 않습니다.
            </div>
            {% elif failed == 110 %}
            <div class="alert alert-danger" role="alert">
              토큰이 유요하지 않습니다.
            </div>
            {% elif failed == 100 %}
            <div class="alert alert-danger" role="alert">
              이미 인증된 유저입니다.
            </div>
            {% endif %}
            <h1>로그인</h1>
            <form class="mt-4" action="/account/login" method="post">
              {% if csrf_token %}
              <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
              {% endif %}
              <!-- Email input -->
              <div class="mb-3">
                <label for="formInputEmail" class="form-label">이메일</label>
                <input
                  type="email"
                  name="email"
                  class="form-control form-input"
                  id="formInputEmail"
                  aria-describedby="emailHelp"
                />
              </div>
              <!-- PW input -->
              <div class="mb-3">
                <label for="formInputPassword" class="form-label"
                  >비밀번호</label
                >
                <input
                  type="password"
                  name="password"
                  class="form-control form-input"
                  id="formInputPassword"
                />
              </div>

              <!-- 2 column grid layout for inline styling -->
              <div class="mb-4">
                <a href="/account/forgot-password">비밀번호를 잊으셨나요?</a>
              </div>

              <!-- Submit button -->
              <div class="d-grid gap-2">
                <button
                  data-mdb-ripple-init
                  type="submit"
                  class="btn btn-primary btn-block form-input"
                >
                  로그인
                </button>
                <!-- Login with Google -->
                <button
                  id="google-login"
                  type="button"
                  class="btn btn-danger btn-block form-input"
                >
                  <i class="bi bi-google"></i> 구글로 로그인
                </button>
                <!-- Login with Microsoft -->
                <button
                  id="microsoft-login"
                  type="button"
                  class="btn btn-secondary btn-block form-input"
                >
                  <i class="bi bi-microsoft"></i>
                  마이크로소프트로 로그인
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% include "footer.html" %}
  </body>
  <script>
    document
      .getElementById("google-login")
      .addEventListener("click", function () {
        window.location.href = "/account/oauth/l/google";
      });
    document
      .getElementById("microsoft-login")
      .addEventListener("click", function () {
        window.location.href = "/account/oauth/l/microsoft";
      });
  </script>
</html>
