<!DOCTYPE html>
<html lang="ko">
  <head>
    {% include "header.html" %}
    <link rel="stylesheet" href="{{url_for('static', path='/css/general/styles.css')}}" />
    <link
      rel="stylesheet"
      href="{{url_for('static', path='/css/interface.general.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', path='/css/root.general.css')}}"
    />
    <title>비밀번호 재설정</title>
  </head>
  <style>
    .container {
      margin-top: 32px;
      align-items: center;
      display: flex;
      justify-content: center;
      flex-grow: 1;
    }

    #form-reset {
      width: 460px;
    }
  </style>
  <body>
    <div id="container">
      {% include "jumbotron.html" %}
      <div id="main-container">
        {% include "navbar.html" %}
        <div class="container">
          <div id="form-reset">
            <h1>Reset Password</h1>
            <form class="mt-4" method="post">
              <!-- Token input -->
              {% if csrf_token %}
              <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
              {% endif %}
              <input type="hidden" name="token" value="{{ token }}" />

              <!-- PW input -->
              <div class="mb-3">
                <label for="formInputPassword" class="form-label"
                  >비밀번호</label
                >
                <input
                  type="password"
                  name="password"
                  class="form-control form-input"
                  id="formInputPassword"
                />
              </div>

              <!-- PW re-enter input -->
              <div class="mb-3">
                <label for="formReEnterPW" class="form-label"
                  >비밀번호 재입력</label
                >
                <input
                  type="password"
                  class="form-control form-input"
                  id="formReEnterPW"
                />
              </div>

              <!-- Submit button -->
              <div class="d-flex gap-2">
                <button class="col form-input invisible" type="button"></button>
                <button type="submit" class="btn btn-primary col form-input">
                  전송
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% include "footer.html" %}
    <script>
      // check if password and re-entered password are the same
      const pw = document.getElementById("formInputPassword");
      const rePw = document.getElementById("formReEnterPW");
      const submitBtn = document.querySelector("button[type=submit]");

      const pwCheck = () => {
        if (pw.value != rePw.value) {
          submitBtn.disabled = true;
          rePw.setCustomValidity("패스워드가 일치하지 않습니다.");
        } else {
          submitBtn.disabled = false;
          rePw.setCustomValidity("");
        }
      };

      pw.addEventListener("change", pwCheck);
      rePw.addEventListener("keyup", pwCheck);

      // submit button listener
      const formNode = document.querySelector("#form-reset > form");
      formNode.addEventListener("submit", (e) => {
        e.preventDefault();
        // check if password and re-enter password are same
        if (pw.value != rePw.value) {
          alert("패스워드가 일치하지 않습니다.");
          return;
        }
        // submit form
        formNode.submit();
      });
    </script>
  </body>
</html>
