<!DOCTYPE html>
<html lang="ko">
  <head>
    {% include "header.html" %}
  </head>
  <title>Reset Password</title>
  <body>
    <div class="container-fluid">
      <div class="row vh-100">
        {% include "jumbotron.html" %}
        <div
          class="col-md-9"
          style="display: grid; grid-template-rows: min-content"
        >
          {% include "navbar.html" %}
          <div
            class="col-xl-5 pb-5"
            style="justify-self: center; align-self: center"
          >
            <h1>Reset Password</h1>
            <form class="mt-5 pb-5" method="post">
              <!-- Token input -->
              {% if csrf_token %}
              <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
              {% endif %}
              <!-- Password input -->
              <input type="hidden" name="token" value="{{ token }}" />
              <div data-mdb-input-init class="form-outline mb-4">
                <input
                  type="password"
                  id="form1Example2"
                  name="password"
                  class="form-control form-control-lg"
                />
                <label class="form-label" for="form1Example2">패스워드</label>
              </div>
              <div data-mdb-input-init class="form-outline mb-4">
                <input
                  type="password"
                  id="formReEnterPW"
                  class="form-control form-control-lg"
                />
                <label class="form-label" for="formReEnterPW"
                  >패스워드 재입력</label
                >
              </div>

              <!-- Submit button -->
              <div class="row m-0" >
                <!--<a
                  class="btn btn-primary col-md"
                  type="button"
                  data-mdb-ripple-init
                  style="padding: 0.6rem 1.5rem; font-size: 12pt"
                  href="#!"
                >
                  <i class="fas fa-check"></i> 전송
                </a>-->
                <a
                  class="btn btn-secondary col-md"
                  type="button"
                  data-mdb-ripple-init
                  style="padding: 0.6rem 1.5rem; font-size: 12pt"
                  href="/account/login"
                >
                  <i class="fas fa-angles-left"></i> Login
                </a>
                <div class="col-md-1"></div>
                <button type="submit" class="btn btn-primary col-md" style="padding: 0.6rem 1.5rem; font-size: 12pt">
                  <i class="fas fa-check"></i> 전송
                </button>
                
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% include "footer.html" %}
    <script>
      // check if password and re-entered password are the same
      const pw = document.getElementById("form1Example2");
      const rePw = document.getElementById("formReEnterPW");
      const submitBtn = document.querySelector("button[type=submit]");
      const pwCheck = () => {
        if (pw.value != rePw.value) {
          submitBtn.disabled = true;
          rePw.setCustomValidity("패스워드가 일치하지 않습니다.");
        } else {
          submitBtn.disabled = false;
          rePw.setCustomValidity("");
        }
      };
      pw.addEventListener("change", pwCheck);
      rePw.addEventListener("keyup", pwCheck);

      // submit button listener

      document.querySelector("form").addEventListener("submit", (e) => {
        e.preventDefault();
        // check if password and re-enter password are same
        if (
          document.querySelector("#form1Example2").value !=
          document.querySelector("#formReEnterPW").value
        ) {
          alert("패스워드가 일치하지 않습니다.");
          return;
        }
        // submit form
        document.querySelector("form").submit();
      });
    </script>
  </body>
</html>
