<!DOCTYPE html>
<html lang="ko">
  <head>
    {% include "header.html" %}
    <link
      rel="stylesheet"
      href="{{url_for('static', path='/css/interface.general.css')}}"
    />
    <title>회원가입</title>
  </head>
  <style>
    #main-container > .container {
      align-items: center;
      display: flex;
      justify-content: center;
      flex-grow: 1;
    }

    #form-signup {
      width: 460px;
    }
  </style>
  <body>
    <div id="container">
      {% include "jumbotron.html" %}
      <div id="main-container">
        {% include "navbar.html" %}
        <div class="container">
          <div id="form-signup">
            {% if failed == 1 %}
            <div class="alert alert-danger" role="alert">
              유저가 이미 존재합니다.
            </div>
            {% elif failed == 2 %}
            <div class="alert alert-danger" role="alert">
              CSRF 토큰이 일치하지 않습니다.
            </div>
            {% elif failed == 3 %}
            <div class="alert alert-danger" role="alert">
              비밀번호가 올바르지 않습니다.
            </div>
            {% endif %}
            <h1>Register</h1>
            <form class="mt-4" method="post">
              {% if csrf_token %}
              <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
              {% endif %}
              <!-- Email input -->
              <div class="mb-3">
                <label for="formEmail" class="form-label">이메일</label>
                <input
                  type="email"
                  name="email"
                  class="form-control"
                  id="formEmail"
                  aria-describedby="emailHelp"
                />
              </div>

              <!-- PW input -->
              <div class="mb-3">
                <label for="formInputPassword" class="form-label"
                  >비밀번호</label
                >
                <input
                  type="password"
                  name="password"
                  class="form-control"
                  id="formInputPassword"
                />
              </div>

              <!-- PW re-enter input -->
              <div class="mb-3">
                <label for="formReEnterPW" class="form-label"
                  >비밀번호 재입력</label
                >
                <input
                  type="password"
                  name="password"
                  class="form-control"
                  id="formReEnterPW"
                />
              </div>

              <!-- Agree terms and conditions -->
              <div class="row mb-4">
                <div class="col d-flex">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="formTermsChk"
                    />
                    <label class="form-check-label" for="formTermsChk">
                      <a href="/terms" target="_blank">이용약관</a>에
                      동의합니다.
                    </label>
                  </div>
                </div>
              </div>

              <!-- Submit button -->
              <div class="d-grid gap-2">
                <button
                  data-mdb-ripple-init
                  type="submit"
                  class="btn btn-primary btn-block"
                  style="padding: 0.6rem 1.5rem; font-size: 12pt"
                >
                  회원가입
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% include "footer.html" %}
  </body>
  <script>
    // submit button listener
    document.querySelector("form").addEventListener("submit", (e) => {
      e.preventDefault();
      // check if password and re-enter password are same
      if (
        document.getElementById("formInputPassword").value !=
        document.getElementById("formReEnterPW").value
      ) {
        alert("비밀번호가 일치하지 않습니다.");
        return;
      }
      // check if terms and conditions are accepted
      if (!document.getElementById("formTermsChk").checked) {
        alert("이용약관에 동의해주세요.");
        return;
      }
      // submit form
      document.querySelector("form").submit();
    });
  </script>
</html>
